In [10]:
import yfinance as yf

share = yf.Ticker("NVDA")
df = yf.download("NVDA", start="2024-03-01", end="2024-03-15")

[*********************100%%**********************]  1 of 1 completed

In [11]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-01,800.000000,823.000000,794.349976,822.789978,822.751404,47677700
2024-03-04,841.299988,876.950012,837.190002,852.369995,852.330017,61561600
2024-03-05,852.700012,860.969971,834.169983,859.640015,859.640015,52063900
2024-03-06,880.219971,897.239990,870.299988,887.000000,887.000000,58252000
2024-03-07,901.580017,927.669983,896.020020,926.690002,926.690002,60811900
2024-03-08,951.380005,974.000000,865.059998,875.280029,875.280029,113299600
2024-03-11,864.289978,887.969971,841.659973,857.739990,857.739990,67836400
2024-03-12,880.489990,919.599976,861.500000,919.130005,919.130005,66807500
2024-03-13,910.549988,915.039978,884.349976,908.880005,908.880005,63571300
2024-03-14,895.770020,906.460022,866.000000,879.440002,879.440002,60231800

In [12]:
df.to_csv("nvda.csv")