In [4]:
import yfinance as yf

start_date = "2022-07-01"
end_date = "2024-03-15"
df = yf.download("CIB", start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

In [5]:
df

                 Open       High        Low      Close  Adj Close  Volume
Date
2022-07-01  30.510000  31.000000  30.290001  30.900000  25.849459  279400
2022-07-05  30.290001  30.930000  29.580000  29.799999  24.929249  399500
2022-07-06  29.230000  29.830000  28.490000  28.809999  24.101065  512300
2022-07-07  29.010000  29.410000  28.670000  28.730000  24.034142  897000
2022-07-08  29.110001  29.379999  28.790001  29.360001  24.561169  842300
...               ...        ...        ...        ...        ...     ...
2024-03-08  33.619999  33.619999  32.660000  32.680000  32.680000  203300
2024-03-11  32.750000  32.900002  32.459999  32.630001  32.630001  207800
2024-03-12  32.759998  32.779999  32.130001  32.330002  32.330002  147600
2024-03-13  32.610001  32.759998  32.419998  32.619999  32.619999  203700
2024-03-14  32.689999  32.750000  32.270000  32.400002  32.400002  191500

[428 rows x 6 columns]

In [6]:
df.to_csv("data.csv")